---
import "../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Security Research</title>
  </head>
  <body class="bg-black text-gray-200 font-mono">
    <slot />
  </body>
</html>
